extends layout
block content   
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      h2  Recorded customer list
  .md-layout.md-layout-nowrap
    table#customer_list
      thead
        tr
          th  Customer Name
          th  Location 
          th  Nin
          th  Telephone 
          th  Time of request 
          th  Request type 
          th  Service Request
          th  Number of trucks
          th
          th
      tbody
        if customerCall.length
        each orders in customerCall
            tr  
                td #{orders.customerName}
                td #{orders.location}
                td #{orders.nin}
                td #{orders.telephone}
                td #{orders.time_requested}
                td #{orders.type_of_request}
                td #{orders.service_requested}
                td #{orders.no_of_trucks}
                td
                    a(href='/employee/update/'+orders._id) Update 
                td
                  form(method="POST" action='/employee/delete')
                    input(type="hidden", placeholder="", name="id", value=orders._id)
                    button.btn.btn-dark.btn-block(type="submit") Delete