extends layout
block content   
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      h2  Recorded customer list
  .md-layout.md-layout-nowrap
    table#customer_list
      thead
        tr
          th  Customer Name
          th  Location 
          th  Nin
          th  Telephone 
          th  Time of request           
          th  Service Request
          th  No. of trucks
          th  Status
          th  Progress
          th
          th
          th
      tbody
        if customerCall.length
        each orders in customerCall
            tr  
                td #{orders.customerName}
                td #{orders.location}
                td #{orders.nin}
                td #{orders.telephone}
                td #{orders.time_requested}                
                td #{orders.desired_service}
                td #{orders.no_of_trucks}
                td #{orders.status}
                td #{orders.progress}
                td
                    a(href='/customer/assign/'+orders._id) Assign
                td
                    a(href='/customer/update/'+orders._id) Update 
                td
                  form(method="POST" action='/customer/delete')
                    input(type="hidden", placeholder="", name="id", value=orders._id)
                    button.btn.btn-dark.btn-block(type="submit") Delete