extends layout
block content   
  .md-content.md-layout.nav-bar.md-theme-default
    .md-layout.md-layout-nowrap
      h4  Employee List &nbsp
      h4  | &nbsp
      h4
         a(href='/conductor/list') Conductor List
      h4  | &nbsp
      h4
         a(href='/truck/list') Truck List  
  form.example(action='/employee/search' method='POST')
    input(type='text' placeholder='Search..' name='employee_type' style='width: 30%')
    button(type='submit' style='width:60px') search

  .md-layout.md-layout-nowrap      
    table#customer_list
      thead
        tr
          th EmployeeName
          th  NIN 
          th  Residence
          th  Date of birth 
          th  Employee type 
          th  Contact
          th  Status
          th  Earnings
          th
          th  
      tbody
        if employees.length
        each employee in employees
            tr  
                td #{employee.userName}
                td #{employee.nin_number}
                td #{employee.residence}
                td #{employee.date_of_birth}
                td #{employee.employee_type}
                td #{employee.telephone}
                td #{employee.status_assign}
                td #{employee.earnings}
                td
                    a(href='/employee/update/'+employee._id) Update 
                td
                  form(method="POST" action='/employee/delete')
                    input(type="hidden", placeholder="", name="id", value=employee._id)
                    button.btn.btn-dark.btn-block(type="submit") Delete
